@if (layoutService.isMobileMenuOpen()) {
  <div 
    class="fixed inset-0 bg-on-surface/40 backdrop-blur-sm z-55 md:hidden transition-opacity"
    (click)="layoutService.closeMenu()">
  </div>
}

<aside 
  class="fixed top-0 left-0 h-screen w-64 bg-surface-container-lowest border-r border-outline-variant z-60 transform transition-transform duration-300 ease-in-out md:translate-x-0 md:top-16 flex flex-col"
  [class]="layoutService.isMobileMenuOpen() ? 'translate-x-0' : '-translate-x-full'">
  
  <div class="h-16 flex items-center justify-end px-4 md:hidden border-b border-outline-variant">
    <button (click)="layoutService.closeMenu()" class="p-2 text-on-surface hover:bg-surface-container rounded-lg">
      <span class="material-symbols-outlined">close</span>
    </button>
  </div>

  <nav class="flex-1 overflow-y-auto">
    <ul class="flex-1 py-4 flex flex-col gap-1">
      
      @for (item of navItems; track item.path) {
        <li>
          <a 
            [routerLink]="item.path"
            
            #rla="routerLinkActive"
            routerLinkActive="bg-surface-container-high text-primary border-r-4 border-primary font-bold"
            [routerLinkActiveOptions]="{exact: item.path === '/'}" 
            
            (click)="layoutService.closeMenu()"
            
            class="flex items-center gap-3 px-6 py-3 cursor-pointer text-on-surface-variant hover:bg-surface-container-low transition-all duration-200">
            
            <span class="material-symbols-outlined" 
                  [style.font-variation-settings]="rla.isActive ? '\'FILL\' 1' : '\'FILL\' 0'">
              {{ item.icon }}
            </span>
            
            {{ item.label }}
          </a>
        </li>
      }
      
    </ul>
  </nav>
</aside>